:root {
  --primary-color: #194699;
  --secondary-color: #0f579b;
  --third-color: #2196F3;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --background-color: #f4f4f4;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: white;
}

#page-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--primary-color);
  padding: 10px 0;
}

.navbar ul {
  display: flex;
  justify-content: space-around;

}

.navbar ul li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background: var(--secondary-color);
  color: white;
  border-radius: 10px;
  transform: scale(1.05);
}
/*Background*/
.background{
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 50px;
}
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}
  /*This will deal with the profile picture*/
.profile-pic img {
  display: flex;
  justify-content: center;
  max-width: 200px;
  border-radius: 50%;
}

  /*This will deal with the Bio*/
.bio {
  max-width: 500px;
  border: 3px solid var(--primary-color);
  padding: 0.5rem;

}
/*Schedule*/
.schedule {
  display: flex;
  justify-content: center;
  border: 3px solid var(--primary-color);
  padding: 0.5rem;

}
/*Videos on Home page*/
.media-links {
  display: grid;
  grid-template-columns: 1fr;
  justify-items:center;
  
}
h3{
  display: flex;
  justify-content: center;
}

.youtube {
  padding: .5rem;
  max-width: 500px;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;

}

