:root {
    --primary-color: #194699;
    --secondary-color: #0f579b;
    --third-color: #2196F3;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --background-color: #f4f4f4;
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

#page-title{
    display: flex;
    justify-content:center;
    font-size: 2rem;
    color: var(--primary-color);
    padding: 10px 0;
}

.navbar ul{
    display: flex;
    justify-content: space-around;

}
.navbar ul li a {
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.5rem 1rem; 
  transition: background 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background: var(--secondary-color);
  color: white;
  border-radius: 10px;
  transform: scale(1.05);
}

.about-section {
  display: flex;
  align-items: center;   /* vertically align image and text */
  justify-content: center; /* center them horizontally */
  gap: 2rem;             /* space between image and text */
  flex-wrap: wrap;       /* stack on small screens */
  padding: 2rem;
}
.profile-pic{ /*This will deal with the profile picture*/
    max-width: 250px;
    object-fit:cover;
    border-radius:50;

    
}

.bio{ /*This will deal with the Bio*/
    max-width:500px;
      border: 3px solid var(--primary-color);
    padding: 0.5rem;

}

.schedule{
    display:flex;
    justify-content: center;
    border: 3px solid var(--primary-color);
    padding: 0.5rem;
    
}

.media-links {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  gap: 1.5rem;                   /* space between items */
  padding: 4rem;
}


.youtube{
    display: grid;
    grid-column: 1/2;
    text-align:center;
    border: 3px solid var(--primary-color);
    margin: 1.5rem;
    padding: 1.5rem;
    max-width: 200px;
}
.spotify{
    display: grid;
    grid-column: 2/3;
    text-align:center;
    border: 3px solid var(--primary-color);
    padding: .5rem;
    max-width: 200px;
}

footer{
    display: flex;
    justify-content:center;
}
footer img {
  max-width: 200px;
}