:root {
    --primary-color: #194699;
    --secondary-color: #0f579b;
    --third-color: #2196F3;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
    --background-color: #f4f4f4;
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
}

body{
    min-height:100vh;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--primary-color);
    position: absolute; top: 0; right: 0;
    cursor: pointer;
}

#menu::before {
    content: "☰";
    position: absolute;
    top:0;
    right:0;
}

#menu.open::before {
    content: "✖";
}
.navbar ul li a {
  color: var(--paragraph-text);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}
.navbar ul{
    display: none;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary-color);
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    width: 150px;
    border-radius: 8px;
    z-index: 100;
}

.navbar ul.open {
  display: flex;
}

.navbar ul li a:hover {
  background: var(--box-color); /* Now properly uses the color */
  color: #fdfeff;
  border-radius: 4px;
}

#page-title{
  display:flex;
  justify-content: center;
}

main  {
    display: flex;
    justify-content: center;
    gap: 50px;
}

footer {
    /* handles the footer*/
    display: flex;
    justify-content: center;
}

footer img {
    max-width: 200px;
}
@media screen and (min-width: 600px) {
    :root {
        --primary-color: #232946;
        /* Changes primary color */
        --background-color: #282c34;
        /* Changes background color */
        --footer-color: #e9e1e1;
        /* Changes footer color */
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 20px;
        width: 100%;
        max-width: 900px;
        margin: auto;
    }

    h1 {
        grid-column: 1/-1;
    }

    #menu {
        display: none;
    }

    .navbar ul {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        position: static;
        background: none;
        width: auto;
        padding: 1rem;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}