:root {
    --primary-color: #232946; /* Changes primary color */
    --background-color:#8f9bb3;/* Changes background color */
    --footer-color: #e9e1e1; /* Changes footer color */
    --paragraph-text: #e1f3ee; /* Changes paragraph/primary text color */
    --heading-color: #d61b1b;/*Changes heading Color*/
    --box-color: 0 2px 8px #4095e6; /* Changes box shadow color */
    --heading-font: "Roboto";
    --body-font: "Montserrat";
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border:1px solid var(--primary-color);
    padding:1.5rem;
    border-radius: 8px;
    box-shadow: var(--box-color);
    background-color: var(--paragraph-text);

}

main{
    display:grid;
    grid-template-columns: 1fr;
    gap:1rem;
}
section{
    padding:1rem;
    background-color: var(--background-color);
    ;
}

