 :root {
   --background: #1A1A2E;
   --surface: #16213E;
   --primary-accent: #0F3460;
   --highlight-accent: #E94560;
   --text: #F5F5F5;

 }

 * {
   margin: 0;
   padding: 0;
 }

 body,
 h1,
 h2,
 h3 {
   background: var(--background);
   color: var(--text);
 }

 header {
   padding: 1rem;
   text-align: center;
 }

 #page-title {
   display: block;
   font-weight: bold;
 }


 .navigation {
   display: flex;
   justify-content: space-around;
   list-style: none;
 }

 .navigation a {
   text-decoration: none;
   color: var(--text);
   padding: 0px 20px;
   transition: background 0.25s ease;
 }

 .navigation a:hover {
   background: var(--primary-accent);
   color: var(--text);
   box-shadow: 0 0 8px var(--highlight-accent);
   border-radius: 5px;
 }

 nav {
   background: var(--surface);
 }
 /* Hamburger Menu*/

 #menu{
   display: none;
   cursor: pointer;
   
 }
 #menu::before{
   content: "≡";
   font-size: 2rem;
   color: var(--text);
   
 }
 #menu.show::before{
   content: "❌"; 
 }
   /* This section will be the main content*/
body{
  min-width: 0;
}
  main{
  min-width: 0;
}
 .genre-row{
  min-width: 0;
  background: var(--surface);
  margin-bottom: 1rem;
  padding: 1rem;
  
}
.genre-row h2{
  color: var(--text);
  text-transform: capitalize;
}

.video-row{
  display: flex;
  gap: 5rem;
  overflow-x: auto; /* when this overflows with info, you can scroll to see the rest of it*/
  margin-bottom: 1rem;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;
  padding-bottom: 20px;
  
}
.video-row::-webkit-scrollbar{
  height: 8px;
}
.video-row::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 4px;
}
.video-card{
  position: relative;
  z-index: 1;
  width: 200px;
  flex: 0 0 auto;
  border-radius:  8px;

  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow .02 ease filter .025s ease;

}
.video-card:hover {
  z-index: 10;
  transform: scale(1.12);
  box-shadow:0 2px 20px var(--highlight-accent);
  filter: brightness(1.15);
  
}

.video-card img{
  width: 100%;
  height: auto;
  
  display: block;
  border: 1px solid var(--text);

}


/* Footer is just a simple footer*/
 footer {
   display: flex;
   justify-content: center;
 }

@media only screen and ( max-width: 40rem){

   #menu{
      display: block;
      position: absolute;
      top: 1rem;
      left: 1rem;
   }

   #menu.show::before{
      content: "❌"; 
   }

   .navigation{
      display: none;
      flex-direction: column;
      gap: 1rem;
   }
   .navigation.show{
      display:flex;
   }

   /* This section will be the main content*/
   main{
    margin-top: 5rem;
    padding: 1rem;
   }
   .genres-grid{
    grid-template-columns: 1fr;
   }
   .video-card{
    width: 100%;
   }
}