
body{
  display: grid;
  grid-template-columns: auto 5fr;
  align-items: center;
  margin: auto;
}

header{
grid-column: 1/5;

}


h1{
    display: flex;
    justify-content: center;
    position: relative;
}

 .navbar ul{

    list-style-type: none;
    background-color: rgb(12, 66, 68);
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;

}