

*{
    margin: 0;
    padding:0;

}
header{
    background: gray;
    color: white;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem

}
#course-title{
    font-size: 2rem;
    display: block;
}
nav{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
    background: rgb(49, 108, 218);
    border-radius: .5rem;
}
nav a {
    text-decoration: none;
    color:white;
    display: block;
    padding: .5rem;
}

nav a:hover{
    background-color:gray;

}
main{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

h1{
    display:grid;
    grid-column: 1/3;
    text-align: center;
    padding: 1rem;
}

.card{
    border: 1px solid red;
    margin: 1rem;
    max-width: 300px;
    
}
h2{
    text-align: center;
    background: rgb(36, 146, 219);
    color: white;
    border-radius: .5rem;
}
.card img{
    display:grid;
    grid-column:1/2;
    padding: 20px;
    max-width: 200px;
}
.card p{
    display:grid;
    grid-column: 2/1;
    padding: 20px;
    max-width: 200px;
}
.card ul{
    display:grid;
    padding: 20px;
    grid-column: 3/4;
}

footer{
    display: block;
    text-align: center;
}
