

*{
    margin: 0;
    padding:0;
}

#course-title{
    display:flex;
    justify-content:center;
    align-items: center;
}
nav{
    display:flex;
    justify-content: space-around;
    text-decoration: none;
}
nav a {
    background-color: rgb(156, 5, 5);
    color:white;
    padding: .5rem;
}

nav a:hover{
    background-color:gray;
    
}