
:root {
  --primary-color: #42b672;/* Changes heading color */
  --secondary-color: #142445; 
  --accent1-color: #4345c5;
  --accent2-color: #513d70;
  --heading-font: "Roboto";
  --body-font: "Montserrat";
}
header {
  background-color: var(--primary-color); 
  color: var(--accent2-color);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: rgb(93, 157, 162); /* changes background color */
    font-family: var(--body-font);
    color: var(--accent1-color);
}

#course-title{
    display: flex;
    justify-content:center;

}
.navbar ul{
    display: flex;
    justify-content: space-around;

}


main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ; /* or however many columns you want */
  gap: 20px;
}
main h1{
  grid-column: 1 / -1; /* makes h1 span all columns */
    text-align: center;
}


.card_one { /* These cards are seprate names because it was a nightmare trying to split them on the grid sepreatly*/
  grid-column: 1 / 3;
  padding: 1rem;
  background: rgb(205, 184, 184);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(253, 4, 4)
}

.card_two {
  grid-column: 4/ 5;
  padding: 1rem;
  background: rgb(205, 184, 184);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(253, 4, 4)
}
footer{
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#currentyear{
  display: flex;
  justify-content: flex-start;
}

#lastmodified{
  display: flex;
  justify-content: flex-end;
}

