
:root {
  --primary-color:#226c3a;/* Changes heading color */
  --secondary-color: #ffffff; 
  --accent1-color: #faf6f6;
  --accent2-color: #0c0518;/*Messes with the titile color*/
  --heading-font: "Roboto";
  --body-font: "Montserrat";
}
header {
  background-color: var(--primary-color); 
  color: var(--accent2-color);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    background-color: #7B326E; /* changes background color */
    font-family: var(--body-font);
    color: var(--accent1-color);
}

#course-title{
    display: flex;
    justify-content:center;

}
.navbar ul{
    display: flex;
    justify-content: space-around;

}
.navbar ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}

.navbar ul li a:hover {
  background: var(--accent1-color);
  color: #000000;
  border-radius: 4px;
}


main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* or however many columns you want */
  gap: 20px;
}
main h1{
  grid-column: 1 / -1; /* makes h1 span all columns */
    text-align: center;
}

.card_one { /* These cards are seprate names because it was a nightmare trying to split them on the grid sepreatly*/
  grid-column: 2 / 2;
  padding: 1rem;
  background: #3e2525;
  border-radius: 8px;
  box-shadow: 0 2px 8px #fd0404
}
.card_one img{ /*Deals with card images*/
  width: 500px;
  padding: 10px;
}
.card_one img:hover { /*Deals with card images*/
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}
.card_two {
  grid-column: 4/4;
  padding: 1rem;
  background: #3e2525;
  border-radius: 8px;
  box-shadow: 0 2px 8px #fd0404;
}
.card_two img{
  grid-column: 2 / 4;
  width: 300px;
  padding: 10px;
}
.card_two img:hover { /*Deals with card images*/
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}
footer{
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#currentyear{
  display: flex;
  justify-content: flex-start;
}

#lastmodified{
  display: flex;
  justify-content: flex-end;
}

