:root {
  --primary-color: #ff9800;
  --secondary-color: #4CAF50;
  --third-color: #2196F3;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --background-color: #f4f4f4;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

#page-title {
  display: flex;
  justify-content: center;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
}

.navbar ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background .3s, color .3s;

}

.navbar ul li a:hover {
  background: var(--accent1-color);
  color: #000000;
  border-radius: 4px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

main h1 {
  grid-column: 1 / -1;
  text-align: center;
}

.card_one {
  /* These cards are seprate names because it was a nightmare trying to split them on the grid sepreatly*/
  grid-column: 2 / 2;
  padding: 1rem;
  background: #3e2525;
  border-radius: 8px;
  box-shadow: 0 2px 8px #fd0404
}

.card_one img {
  /*Deals with card images*/
  width: 500px;
  padding: 10px;
}

.card_one img:hover {
  /*Deals with card images*/
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}

.card_two {
  grid-column: 4/4;
  padding: 1rem;
  background: #3e2525;
  border-radius: 8px;
  box-shadow: 0 2px 8px #fd0404;
}

.card_two img {
  grid-column: 2 / 4;
  width: 300px;
  padding: 10px;
}

.card_two img:hover {
  /*Deals with card images*/
  color: var(--secondary-color);
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s, color 0.3s;
}

footer {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#currentyear {
  display: flex;
  justify-content: center;
}

#lastmodified {
  display: flex;
  justify-content: center;
}