:root{
    --blue: #0000FF;
    --yellow: #FFFF00;
    --gray: #808080;
    --black: #000000;
}
*{
    margin: 0;
    padding:0;

}
body{
    font-family:"Roboto", sans-serif;
}
h1, h2, h3, h4 {
    font-family: "Gravitas One", serif;
}
header{

    color: 1px solid var(--black);
    padding: 1rem;
    text-align: center;
    border-radius: .5rem

}
#page-title{
    font-size: 2rem;
    display: block;
}
#menu::before{ /*Burger menu for mobile view*/
    content: "≡";
}

nav{
    background-color: var(--yellow);
}
.navigation{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    list-style: none;
    margin: 0 auto;
	max-width: 760px;
}
.navigation li{
    
    display:none;
    
}

.navigation a{
    text-decoration: none;
    width: 100%;
    color: var(--blue);
}

.navigation a:hover, 
.navigation:active{
    display: flex;
    flex-direction: column;
    background: var(--gray);
}
.show li{
    display: block;
}
#menu.show::before{
    content:"X";
}

main{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    display:grid;
    grid-column:-1/1;
    text-align: center;

}

figure img{
    grid-column: 1/2;
    max-width: 500px;
    padding: 10px;
    
}
figcaption{
    padding:10px;
    border: 2px solid var(--gray);
    max-width: 200px;
    margin: 0 auto;
}


footer{
    display: flex;
    justify-content: center;
}