@media only screen and (min-width: 40em) {
	h1 {
		font-size: 2rem;
	}
	.navigation {
		display: flex;
		flex-direction: row;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    figure img{
    grid-column: 1/3;
    max-width: 250px;
    justify-content: center;
    align-items: center;
    text-align: center;
    }


}
