@media only screen and (min-width: 40em) {
	h1 {
		font-size: 2rem;
	}
	.navigation{
		flex-direction: row;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
	main{
		grid-template-columns: 1fr 1fr 1fr;
	}
		figure img{
		max-width: 250px;
		}


}