:root {
  --primary-color: #ff9800;
  --secondary-color: #4CAF50;
  --third-color: #2196F3;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --background-color: #f4f4f4;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

h1, h2, main, h2{
    display: flex;
    justify-content: center;
}


form{
  display: flex;
  flex-direction: column;   /* stack fields vertically */
  gap: 1rem;                /* consistent spacing between fields */
  max-width: 500px;         /* limit width for readability */
  width: 500;
  text-align: center;  
  background-color: var(--primary-color);
  opacity: .8;
  padding: 2rem;
  border-radius: 8px;
  
}
footer{
    display: flex;
    justify-content: center;   
}
