:root{
    --purple: #800080;
    --white: #ffffff;
    --black: #000000;
}
h1{
    display:flex;
    justify-content: center;
}
main{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
}
form{
    grid-column:3/4;
    padding: 10px;
}

.stars{
    display: flex;
    padding: 10px;
}
.feature{
    max-width: 300px;
}

.review, .username, .submit{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px;
}
footer {
    display: flex;
    justify-content: center;
    background: var(--purple);
    color: var(--white);
    padding: .2rem;
}