@media (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Four columns on larger screens */
    gap: 1rem;
    padding: 1rem;
  }
    main h1{
    grid-column: 1 / -1; /* makes h1 span all columns */
      text-align: center;
  }




  
}

