:root{
    --red: red;
    --white: white;
    --green: green;
}

*{
    margin: 0;
    padding:0;

}
body{
    font-family:"Roboto", sans-serif;
}
header{
    background: var(--green);

}
#page-title{
    color: var(--white);
}

body{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    color: #000000;
    padding: 1rem;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.data h2{
    display: flex;
    flex-direction: column;
    align-items: center;
        padding: .2rem;
}
.data td{
    padding: .2rem;
}

.weather{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2rem;
}
.weather td{
    padding: .2rem;
}


h2{
    display: flex;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    background: var(--red);
    color: var(--white);
    padding: .2rem;
}

