@media only screen and (min-width: 1000px) {

main{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr ;
    grid-template-rows:  auto   1fr;



}
picture{
    grid-column: 1/5;
}

.data{
    grid-column: 1/4;

    border: 2px solid var(--green);
}

    
}