@media only screen and (min-width: 1000px) {

main{
    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr auto;
    grid-template-rows: 1fr auto 1fr auto 1fr auto 1fr auto;

}
picture{
    grid-column: 2/3;
    grid-row: 1/1;
    justify-content: center
}

.data{
    grid-column: 1/2;
    grid-row: 1/1;
    border: 2px solid var(--green);
}

.weather{
    grid-column: 3/4;
    grid-row: 1/1;
    border: 2px solid var(--green);
}

    
}