@media only screen and (min-width: 1000px) {

main{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr ;
    grid-template-rows:  auto   1fr;
    justify-content: center;
    align-items: center;

}
picture{
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center
}

.data{
    grid-column: 1/2,;
    grid-row: 1/2;
    border: 2px solid var(--green);
}

    
}