:root{
    --primary-color: red;
}

*{
    margin: 0;
    padding:0;

}
body{
    font-family:"Roboto", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    color: #000000;
    padding: 1rem;
}

.background{
    position: relative;
}
.background-img{
    display: block;
    
}




