/* CSS Variables */
:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --text-color: #333;
    --background-color: #f8f9fa;
    --border-color: #ddd;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--primary-color);
    
}
#page-title {
    font-family: var(--heading-font);
    display: flex;
    justify-self: center;
    color: var(--background-color);
    margin: 20px 0;
}
.responsive-image {
    display: flex;
    justify-content: center;
}

.responsive-image img { /* Deals with the the main image*/
    width: 1350px;     /* Set desired size */
    height: auto;
    position: relative;
    display: inlineblock;
}
.data-table {
    position: absolute;
    background: rgba(255, 255, 255, 0.9); /* semi-transparent background */
    border: 1px solid var(--border-color);
    padding: 10px;
    font-family: var(--body-font);
    color: var(--text-color);
    top: 10px;
    left: 10px;
    margin:50px;
    padding: 50px;
}

.weather-table {
    position: absolute;
    background: rgba(255, 255, 255, 0.9); /* semi-transparent background */
    border: 1px solid var(--border-color);
    padding: 10px;
    font-family: var(--body-font);
    color: var(--text-color);
    bottom: 10px;
    right: 10px;
    margin:50px;
    padding: 50px;
}

footer {/*Use this for dealing with the footers from now on*/
 display: flex;             
  justify-content: center;    
  align-items: center;      
  flex-direction: column;     
}


/* Instead of using two css for desktop then to mobile view, I have seen its better to have 1 file with all that code
below is the media tool
*/

@media (min-width: 600px) {
  main {

  }
    main h1{

  }




  
}
